CONFIG_TINYUSB_ENABLED=y
CONFIG_TINYUSB_AUDIO_ENABLED=y
CONFIG_TINYUSB_AUDIO_CLASS_1=y
CONFIG_TINYUSB_AUDIO_USE_CALLBACK=y
CONFIG_TINYUSB_NET_ENABLE=y
CONFIG_TINYUSB_CDC_NCM_ENABLE=y
CONFIG_TINYUSB_DEVICE_COMPOSITE=y
CONFIG_USB_DEVICE_ENABLED=y
CONFIG_TINYUSB_MCU="OPT_MCU_ESP32S3"
CONFIG_TINYUSB_DEVICE_ENABLED=y
